BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
IndentCaseBlocks: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterObjCDeclaration: true
  AfterStruct: false
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: false
  SplitEmptyFunction: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
