name: Arduino Size Report
on:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  report:
    runs-on: ubuntu-latest

    steps:
      - name: Report size deltas
        uses: arduino/report-size-deltas@v1
        with:
          sketches-reports-source: ^sketches-report-.+
