name: Arduino CI

on:
  push:
    branches:
      - master
    paths:
      - "src/**"
      - "test/**/*.cpp"
      - ".github/workflows/arduino_ci.yml"
  pull_request:
    paths:
      - "src/**"
      - "test/**/*.cpp"
      - ".github/workflows/arduino_ci.yml"

jobs:
  arduino-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true

      - name: Run Unit Tests
        run: |
          bundle install

          bundle exec ensure_arduino_installation.rb

          git clone https://github.com/johnrickman/LiquidCrystal_I2C.git
          git clone https://github.com/arduino-libraries/LiquidCrystal.git
          git clone https://github.com/maniacbug/StandardCplusplus.git

          mv LiquidCrystal_I2C LiquidCrystal StandardCplusplus $(bundle exec arduino_library_location.rb)

          bundle exec arduino_ci.rb --skip-examples-compilation
