name: Lint

on:
  pull_request_target:
    paths:
      - "src/**"
      - "examples/**"
      - ".github/workflows/lint_check.yml"

permissions:
  checks: write
  pull-requests: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install ClangFormat
        run: sudo apt-get install -y clang-format

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true
          clang_format_extensions: "c,cc,cpp,h,hpp,m,mm,ino"
          auto_fix: true
          commit: true
          git_email: "thomasforntoh@gmail.com"
