name: PR Size Checker
on:
  pull_request_target:
    branches-ignore:
      - master

jobs:
  check_pr_size:
    name: runner / check-pr-size
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: budougumi0617/action-pr-size-checker@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          max_added_count: ${{ vars.PR_SIZE_LIMIT }}
          filter_pattern: ${{ vars.PR_SIZE_IGNORE_PATTERN }}
