name: Spell check

on: [pull_request]

jobs:
  spell-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Spell check
        uses: codespell-project/actions-codespell@master
        with:
          skip: test/*,Gemfile,diagram.json,platformio.ini,version,wokwi.toml
